<div class="container">
<% if user_signed_in? %>
  <h1>Items</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Serial no</th>
        <th scope="col">Product</th>
        <th scope="col">Brand</th>
        <th scope="col">Unit price</th>
        <th scope="col">Quantity</th>
        <th scope="col">MSP</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.serial_no %></td>
          <td><%= item.product %></td>
          <td><%= item.brand %></td>
          <td><%= item.unit_price %></td>
          <td><%= item.quantity %></td>
          <td>&#x20B9;<%= item.msp %></td>
          <!--<td><%= link_to 'Show', item %></td>-->
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <h3>Total: &#x20B9;<%= @total %></h3>
  <%= link_to 'New Item', new_item_path %>

<% else %>
    <%= render "history/landing" %>
<% end %>
</div>